node_modules
.next
npm-debug.log*
Dockerfile*
docker-compose*.yml
.env
.env.*
coverage
.git
.gitignore
.vscode
.vercel
test-results
playwright-report
blob-report
output
**/chrome-*
**/Default/Cookies
**/Default/Login Data*
**/Default/*Web Data
**/Local State
